<link rel="stylesheet" type="text/css" href="https://img.xungejiang.com/toc.css"/>
<aside id="article-toc" role="navigation" class="fixed">
    <div id="article-toc-inner">
        <strong class="sidebar-title">
        目录</strong>
        <%- toc(page.content, {list_number: false}) %>
    </div>
</aside>
